:root{  /*theme colors */
 --orange:#ffb86c;
 --purple--light:#44475A;
 --purple--dark:#282A36;
 --background:#282a36;
 --blue: #6272a4;
}

*{
	color:white;
	padding:0;
	margin:0;
}	

.App {
	display:flex;
	flex-direction: column;
	height:100vh;
	text-align: center;
}
.Banner{
	display:flex;
	height:60px;
	background-color: var(--blue);
	align-items:center;
}

.Banner__icon{
	height:100%;
	padding-right:30px;
	padding-left:30px;
}

.Banner__icon:hover{
	background-color:var(--purple--light);

}

.PageContainer{ 
	color:white;
	background-color:var(--background);
	flex-grow: 1;
}
.EntryButton{
	background-color: var(--purple--light);
	height:18vw;
	width:18vw;
	border-radius:50%;
	font-size:xx-large; 
}

.sideBar{
	min-width:265px;
	background-color:#282a36;
	border:1px solid white;
	border-top:none;
	display:flex;
	flex-direction:column; 
}

.pageCard{
	display:flex;
	flex-direction: column;
	position:relative;
	overflow-y:auto;
	background-color:#44475a;
	border-radius:20px;
	padding-top:5px;
	padding-bottom:0px;
	margin:15px;
	width:200px;
	height:120px;
	border:1px solid white;
}

.dropbtn {
  color: white;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	margin-top:-3px;
  display: none;
  position: absolute;
  background-color: var(--purple--light);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	cursor:pointer;
}

.dropdown-content input {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {background-color:var(--blue)}

.dropdown:hover .dropdown-content {
  display: block;
}


.formContainer{
  display:flex;
	flex-direction:column;
  border-radius:8px;
  border:1px solid var(--blue);
  background-color:var(--background);
  z-index:1;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	width:500px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10vh;
}

.form__header{
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65px;
  background-color: var(--blue);
}

.form__content{
  height:100%;
  display: flex;
	flex-direction: column; 
	align-items: center;
  background-color: var(--purple--light);
}

.form__title{
	padding-bottom:10px;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:var(--blue);
}

.form__label{
	color:var(--orange);
}

.form__input--text{
  width: 90%;
  border-radius: 5px;
  height: 40px;
  color: black;
  margin: 15px;
  margin-bottom: 2px;
}
 
.radioContainer{
	height:100px;
	padding: 10px;
	align-items: center;
	justify-content:center;
  display: flex;
	flex-direction: column;
}

.radioForm{
	display: flex ;
	border:1px solid white;
	border-radius:10px;
	padding-bottom:10px;
	margin-bottom:20px;
}

.radio__label{
	margin-top:20px; 
	font-size:18px;
}

.saveButton{
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 10px;
  background-color: #6272a4;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 650px) {
	.EntryButton{
	 font-size:small;
	}
}