@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap'); 

/**theme colors */
:root{  
 --orange:#ffb86c;
 --purple--light:#44475A;
 --purple--dark:#282A36;
 --background:#282a36;
 --blue: #304071;
}

*{
	font-family: 'Roboto', sans-serif;
	color:white;
	padding:0;
	margin:0;
}	

/**Animations*/

@keyframes fadeIn {
  0%   {opacity: 0%;}
  100% {opacity: 100%;}
}

@keyframes shadowExpand {
	0%   {box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1); }
	50% {box-shadow: 1px 0px 1px 20px var(--orange);}
  100% { box-shadow: 1px 0px 1px 40px var(--blue); }
} 

@keyframes colorChange {
  0%   { box-shadow: 0px 0px 0px 0px var(--blue);}
} 


input{
	font-size:18px; 
	padding:5px;
}
textarea{
	padding:5px;
	font-size:15px; 
}

.App {
	display:flex;
	flex-direction: column;
	height:100vh;
	text-align: center;
}

.banner{
	display:flex;
	height:40px;
	background-color: var(--blue);
	align-items:center;
}

.banner__iconContainer{
  align-items: center;
	height: 100%;
	margin-left: auto;
	margin-right: 20px;
	display: flex; 
}

.banner__icon{
	height:100%;
	padding-right:30px;
	padding-left:30px;
}

.banner__icon:hover{
	background-color:var(--purple--light); 
}

.PageContainer{ 
	color:white;
	flex-grow: 1;
	display: flex;
	background-size:cover;
	background-repeat:no-repeat; 
}

.entryButton{
	display: inline-block;
	position: relative;
	text-decoration: none;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	text-align: center;
	background: var(--purple--dark);
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
}

.entryButton__contents{
	cursor:pointer;
	position: absolute;
	width: 180px;
	height: 180px;
	line-height: 80px;
	vertical-align: middle; 
	left: 58px;
	top: 56px;
	border-radius: 50%;
	font-size: 40px;
	box-shadow: inset 0 2px 0 var(--orange), 0 2px 2px var(--blue);
	border-bottom: solid 1px #ffffff;
	display:flex;
	align-items:center;
	justify-content:center; 
}

.entryButton:hover{
	animation:shadowExpand;
	animation-duration:1s; 
	animation-fill-mode: forwards;  
} 
.entryButton__contents:active{
	box-shadow: inset 0 2px 0 white, 0 2px 2px orange;
}

.dropZoneContainer{
	margin-right:15px;
	margin-left:10px;
	display:flex;
	flex-direction:column;
	width:50%;
	margin-top:50px; 
}
.dropZoneRow{
  width:100%;
	display: flex;
	justify-content:center; 
}


.dragArea{
	background-color:var(--background);
	opacity:0.95;
 	flex-wrap: wrap;
 	display: flex; 
	border-radius: 10px;
	margin-top:10px;
	height:75vh;
	justify-content: center;
	overflow-y:auto;
}

.pageCard{
	box-shadow: 1px 3px 1px 1px rgba(255,255, 255, 0.6);
	display:flex;
	position:relative;
	overflow-y:auto;
	background-color:#44475a;
	border-radius:20px;
	padding-top:5px;
	padding-bottom:0px;
	margin:15px;
	width:160px;
	height:110px;
	border:1px solid white;
}

.dropbtn {
  color: white;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	margin-top:-3px;
  display: none;
  position: absolute;
  background-color: var(--purple--light);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	cursor:pointer;
}

.dropdown-content input {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {background-color:var(--blue)}

.dropdown:hover .dropdown-content {
  display: block;
} 

.formContainer{
  display:flex;
	flex-direction:column;
  border-radius:8px;
  z-index:1;
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	width:700px;
	margin-left:auto;
	margin-right:auto;
	margin-top:2vh;
	overflow-y:auto;
	animation:fadeIn;
	animation-duration:0.35s;
}

.form__header{
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65px;
  background-color: var(--blue);
}

.form__content--view{
	border:1px solid black;
	height:100%;
	overflow-y:auto;
  display: flex;
	flex-direction: column; 
	align-items: center;
  background-color: var(--purple--light);
}

.form__content--edit{
	border:1px solid black;
	height:100%;
	overflow-y:auto;
  display: flex;
	flex-direction: column; 
	align-items: center;
  background-color: var(--purple--light);
}

.form__content--new{
	border:1px solid black;
	height:700px;
  display: flex;
	flex-direction: column; 
	align-items: center;
	background-color: var(--purple--light);
	overflow-y:auto;
}

.form__title{
	padding-bottom:10px;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:var(--background);
}

.form__label--left{
	width:90%;
	text-align:left;
	margin-bottom:5px;
	margin-top:15px;
	color:var(--orange);
}

.form__label--center{
	width:90%;
	text-align:center;
	margin-bottom:5px;
	margin-top:15px;
	color:var(--orange);
}

.form__input--text{
  width: 90%;
  border-radius: 5px;
  height: 40px;
  color: black;
  margin: 15px;
  margin-bottom: 2px;
}
.attributeContainer{
  margin-top: 20px;
	margin-bottom: 20px;
	flex-grow: 1;
	overflow-wrap: anywhere;
	background-color: #44475a;

}
 
.radioContainer{
	height:100px;
	padding: 5px;
	padding-bottom:0px;
	align-items: center;
	justify-content:center;
  display: flex;
	flex-direction: column;
}

.radioForm{
	display: flex ;
	border:1px solid white;
	border-radius:10px;
	margin-bottom:20px;
}

.radio__label{
	margin-top:20px; 
	font-size:18px;
}

.saveButton{
	cursor:pointer;
	font-size:20px;
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #6272a4;
  border: none;
  border-radius: 5px;
}


.Notification{
	display:flex;
	justify-content: center;
	align-items: center;
	position:absolute;
	width:100%;
	height:40px;
	z-index:2;
	animation-name:fadeIn;
	animation-duration:1.5s; 
}

.Notification__text{
	color:black; 
}

.confirmationPrompt{
	animation:fadeIn;
	animation-duration:0.4s;
	border:1px solid white;
	border-radius:8px;
	background-color:var(--purple--light); 
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin-left:auto;
	margin-top:15vh;
	margin-bottom:auto;
	margin-right:auto;
	height:200px;
	width:500px;
	z-Index:2;
	display:flex;
	flex-direction:column;
}

.yesButton{
	background-color: #6272a4;
	width:60px;
	height:40px;
	border:none;
	border-radius:5px;
	margin-bottom:10px;
	color:var(--orange); 
	margin-right:30px;
	cursor:pointer;
}

.noButton{
	width:60px;
	height:40px;
	border:none;
	border-radius:5px;
	color:var(--purple--dark); 
	cursor:pointer;
}

/**Media Queries*/
@media screen and (max-width: 650px) {
	.EntryButton{
	 font-size:small;
	}
}
@media screen and (max-height:900px){
.form__content--edit{
	height:670px;
}
.form__content--new{
	height:670px;
 } 
} 

/**Calendar **/

.react-calendar {
  width: 350px;
	max-width: 100%;
	background:#343a40;
	border: 2px solid gray;
	border-radius:5px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 24px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background-color: black;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: gray;
}
.react-calendar__navigation button[disabled] {
  background-color: gray;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
	font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
	color:#6495ed;
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #ff8933;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #3e444a;
}
.react-calendar__tile--now { 
  background:#343a40;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: gray;
}
.react-calendar__tile--hasActive {
  background: #006edc;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #006edc;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
