:root{  /*theme colors */
 --orange:#ffb86c;
 --purple--light:#44475A;
 --purple--dark:#282A36;
 --background:#282a36;
 --blue: #6272a4;
}

*{
	color:white;
	padding:0;
	margin:0;
}	

.App {
	display:flex;
	flex-direction: column;
	height:100vh;
	text-align: center;
}
.Banner{
	display:flex;
	height:30px;
	background-color: var(--blue);
	align-items:center;
}
.PageContainer{ 
	color:white;
	background-color:var(--background);
	flex-grow: 1;
}
.EntryButton{
	background-color: var(--purple--light);
	height:18vw;
	width:18vw;
	border-radius:50%;
	font-size:xx-large; 
}

.sideBar{
	min-width:265px;
	background-color:#282a36;
	border:1px solid white;
	border-top:none;
	display:flex;
	flex-direction:column; 
}
.pageCard{
	position:relative;
	overflow-y:auto;
	background-color:#44475a;
	border-radius:20px;
	padding:20px;
	padding-top:5px;
	padding-bottom:0px;
	margin:15px;
	width:150px;
	height:180px;
	border:1px solid white;
}

.dropbtn {
  background-color: var(--background);
  color: white;
  padding: 6px;
	font-size: 16px;
	margin-left:15px;
  border: 1px solid white;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	margin-left:15px;
  display: none;
  position: absolute;
  background-color: var(--purple--light);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	cursor:pointer;
}

.dropdown-content div {
  color: var(--orange);
  padding: 2px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {background-color:var(--blue)}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:var(--blue);
}

@media screen and (max-width: 650px) {
	.EntryButton{
	 font-size:small;
	}
}